{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "syntax-async-functions",
    "@babel/plugin-syntax-flow",
    "@babel/plugin-syntax-jsx",
    "@babel/plugin-syntax-object-rest-spread",
    "syntax-trailing-function-commas",
    "transform-flow-strip-types",
    "@babel/plugin-proposal-object-rest-spread",
    "transform-react-jsx",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-runtime"
  ]
}
